:root{
    --warna-primer: #1A56DB;
    --warna-hover: #C6E7FF;
    --warna-bg: #EAEAEA;
    --warna-sidebar: #FFFFFF;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /*agar tidak ada scroll secara grobal*/
    min-height: 100vh;
    overflow: hidden; 

    display: grid;
    font-family: sans-serif;
    grid-template-columns: 422px 1fr;
    grid-template-areas: "sidebar main";
    grid-template-rows: 1fr;
    background-color: var(--warna-bg);
}

aside{
    top: 0; /*agar tetap berada diatas */
    position: sticky;
    grid-area: sidebar;
    background-color: var(--warna-sidebar);
}
.sidebar{
    padding: 1.2rem;
}
.sidebar ul{
    list-style-type: none;
    cursor: pointer;
}
.sidebar ul li a{
    display: flex;
    height: 74px;
    justify-content: safe start;
    align-items: center;
    padding: 24px;
    text-decoration: none;
    column-gap: 1rem;
    color: black;
}
.sidebar ul :hover{
    background-color: var(--warna-hover);
    border-radius: 0 50px 50px 0; /*0 pojok kiri atas 50 pojok kanan atas 50 pojok kanan bawah 0 pojok kiri bawah */
    color: var(--warna-primer);
}